@{
  ViewData["Title"] = "Instructor Details";
}

@model Instructor;

<h1>Instructor Details</h1>

<table class="table">
  <tboyd>
    <tr>
      <th>Name</th>
      <td>@Model.FirstName @Model.LastName</td>
    </tr>
    <tr>
      <th>Tenured</th>
      <td>@Model.IsTenured</td>
    </tr>
    <tr>
      <th>Rank</th>
      <td>@Model.Rank</td>
    </tr>
    <tr>
      <th>Hiring Date</th>
      <td>@Model.HiringDate</td>
    </tr>
  </tboyd>
</table>