@{
  ViewData["Title"] = "Edit data";
}

@model Instructor;

<form asp-action="Edit" method="post">
  <div class="mb-3">
    <label asp-for="FirstName" class="form-label">First name</label>
    <input required asp-for="FirstName" class="form-control" placeholder="@Model.FirstName" />
  </div>
  <div class="mb-3">
    <label asp-for="LastName" class="form-label">Last name</label>
    <input required asp-for="LastName" class="form-control" placeholder="@Model.LastName" />
  </div>
  <div class="mb-3">
    <label asp-for="IsTenured" class="form-label">Tenured</label>
    <input required asp-for="IsTenured" type="text" class="form-control" placeholder="@Model.IsTenured" />
  </div>
  <div class="mb-3">
    <label asp-for="Rank" class="form-label">Rank</label>
    <select required asp-for="Rank" asp-items="Html.GetEnumSelectList<Rank>()" class="form-control"
      placeholder="@Model.Rank"></select>
  </div>
  <div class="mb-3">
    <label asp-for="HiringDate" class="form-label">Last name</label>
    <input required asp-for="HiringDate" type="date" class="form-control" placeholder="@Model.HiringDate" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Styles {

}