@{
  ViewData["Title"] = "Instructors";
}

<div class="instructorIndex_header">
  <h1>Instructors</h1>
  <a class="btn btn-primary" asp-action="AddInstructor">Add Instructor</a>
</div>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Tenured</th>
    <th>Rank</th>
    <th>Hiring Date</th>
    <th>Details</th>
    <th>Edit</th>
  </thead>
  <tbody>
    @foreach (var Instructor in Model)
    {
      <tr>
        <td>@Instructor.FirstName @Instructor.LastName</td>
        <td>@(Instructor.IsTenured ? "Yes" : "No")</td>
        <td>@Instructor.Rank</td>
        <td>@DateOnly.FromDateTime(Instructor.HiringDate)</td>
        <td><a asp-controller="Instructor" asp-action="Details" asp-route-id="@Instructor.Id">Show</a></td>
        <td><a asp-controller="Instructor" asp-action="Edit" asp-route-id="@Instructor.Id">Edit</a></td>
      </tr>
    }
  </tbody>
</table>

@section Styles {
  <style>
    .instructorIndex_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;
    }
  </style>
}