@{
  ViewData["Title"] = "Student";
}

<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Email</th>
      <th>Major</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var Student in Model)
    {
      <tr>
        <td>@Student.FirstName @Student.LastName</td>
        <td>@Student.Birthdate</td>
        <td>@Student.Email</td>
        <td>@Student.Major</td>
        <td><a asp-controller="Student" asp-action="Details" asp-route-id="@Student.Id">Show</a></td>
      </tr>
    }
  </tbody>
</table>