@{
  ViewData["Title"] = "etsttete";
}

<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Email</th>
      <th>Major</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var student in Model)
    {
      <tr>
        <td>@student.FirstName @student.LastName</td>
        <td>@student.Birthdate</td>
        <td>@student.Email</td>
        <td>@student.Major</td>
      </tr>
    }
  </tbody>
</table>