@{
  ViewData["Title"] = "Student";
}

<div class="studentIndex_header">
  <h1>Students</h1>
  <a class="btn btn-primary" asp-action="AddStudent">Add Student</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Email</th>
      <th>Major</th>
      <th>Details</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var Student in Model)
    {
      <tr>
        <td>@Student.FirstName @Student.LastName</td>
        <td>@DateOnly.FromDateTime(Student.Birthdate)</td>
        <td>@Student.Email</td>
        <td>@Student.Major</td>
        <td><a asp-controller="Student" asp-action="Details" asp-route-id="@Student.Id">Show</a></td>
        <td><a asp-controller="Student" asp-action="Edit" asp-route-id="@Student.Id">Edit</a></td>
      </tr>
    }
  </tbody>
</table>

@section Styles {
  <style>
    .studentIndex_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;
    }
  </style>
}